
/*components-form-demo-normal-login login-form {
  max-width: 300px; text-align: center; font-family: sans-serif; color: black;
}
components-form-demo-normal-login login-form-forgot {
  align-self: center;
}
components-form-demo-normal-login login-form-button {
  width: 100%; color: red;
},*/

.glitter {
	color:black;
	background-color: transparent;
	text-align: center;
},
form{
	text-align: center;
	border-image-repeat: center;	
}