
components-form-demo-normal-login login-form {
  max-width: 400px; text-align: center; font-family: sans-serif; color: blue;
}
components-form-demo-normal-login login-form-forgot {
  align-self: center;
}
components-form-demo-normal-login login-form-button {
  width: 100%; color: red;
}

.glitter {
	color:red;
  background: none;
  margin-top: 90px;
}

.loginContainer{
  margin: auto 0
}

.register{
  align: center;
}